<div class="row">
    <div class="col s12">
        <div class="container">
            <div class="section section-data-tables">
                <div class="row">
                    <div class="col s12 m12 l12">
                        <form autocomplete="off" class="row" #form="ngForm" (submit)="onSubmit(form)">
                            <div class="card card card-default scrollspy">
                                <div class="card-content">
                                    <div class="col s12 m12 l10">
                                        <h3 class="card-title"><b>{{membershipService.formData.FullName}}</b></h3>
                                    </div>
                                    <div class="col s12 m12 l2">
                                        <button title="Lưu thay đổi"
                                            class="mb-6 btn-floating waves-effect waves-light cyan mr-1 mb-1"><i
                                                class="material-icons">save</i></button>
                                    </div>
                                    <div class="row">
                                        <input name="ID" [(ngModel)]="membershipService.formData.ID" type="hidden">
                                        <input name="Image" [(ngModel)]="membershipService.formData.Image"
                                            type="hidden">
                                        <input name="URLImage" [(ngModel)]="membershipService.formData.URLImage"
                                            type="hidden">
                                        <div class="col s12 m12 l6">
                                            <div class="col s6 m6 l4">
                                                <div class="input-field">
                                                    <label for="Account">Tài khoản</label>
                                                </div>
                                            </div>
                                            <div class="col s6 m6 l8">
                                                <input autofocus cdkFocusInitial placeholder="Tài khoản" name="Account"
                                                    [(ngModel)]="membershipService.formData.Account" type="text">
                                            </div>
                                            <div class="col s6 m6 l4">
                                                <div class="input-field">
                                                    <label for="Password">Mật khẩu</label>
                                                </div>
                                            </div>
                                            <div class="col s6 m6 l8">
                                                <input placeholder="Mật khẩu" name="Password"
                                                    [(ngModel)]="membershipService.formData.Password" type="text">
                                            </div>
                                            <div class="col s6 m6 l4">
                                                <div class="input-field">
                                                    <label for="FullName">Tiêu đề</label>
                                                </div>
                                            </div>
                                            <div class="col s6 m6 l8">
                                                <input placeholder="Tiêu đề" name="FullName"
                                                    [(ngModel)]="membershipService.formData.FullName" type="text">
                                            </div>
                                            <div class="col s6 m6 l4">
                                                <div class="input-field">
                                                    <label for="ShortName">Rút gọn</label>
                                                </div>
                                            </div>
                                            <div class="col s6 m6 l8">
                                                <input placeholder="Rút gọn" name="ShortName"
                                                    [(ngModel)]="membershipService.formData.ShortName" type="text">
                                            </div>
                                            <div class="col s6 m6 l4">
                                                <div class="input-field">
                                                    <label for="Phone">Điện thoại</label>
                                                </div>
                                            </div>
                                            <div class="col s6 m6 l8">
                                                <input placeholder="Điện thoại" name="Phone"
                                                    [(ngModel)]="membershipService.formData.Phone" type="text">
                                            </div>
                                            <div class="col s6 m6 l4">
                                                <div class="input-field">
                                                    <label for="PhoneDisplay">Điện thoại (Hiển thị)</label>
                                                </div>
                                            </div>
                                            <div class="col s6 m6 l8">
                                                <input placeholder="Điện thoại (Hiển thị)" name="PhoneDisplay"
                                                    [(ngModel)]="membershipService.formData.PhoneDisplay" type="text">
                                            </div>
                                            <div class="col s6 m6 l4">
                                                <div class="input-field">
                                                    <label for="Email">Email</label>
                                                </div>
                                            </div>
                                            <div class="col s6 m6 l8">
                                                <input placeholder="Email" name="Email"
                                                    [(ngModel)]="membershipService.formData.Email" type="text">
                                            </div>
                                            <div class="col s6 m6 l4">
                                                <div class="input-field">
                                                    <label for="Address">Địa chỉ</label>
                                                </div>
                                            </div>
                                            <div class="col s6 m6 l8">
                                                <input placeholder="Địa chỉ" name="Address"
                                                    [(ngModel)]="membershipService.formData.Address" type="text">
                                            </div>

                                            <div class="col s6 m6 l4">
                                                <div class="input-field">
                                                    <label for="GoogleMap">Google map</label>
                                                </div>
                                            </div>
                                            <div class="col s6 m6 l8">
                                                <input placeholder="Google map" name="GoogleMap"
                                                    [(ngModel)]="membershipService.formData.GoogleMap" type="text"
                                                    (change)="onGoogleMapPress()">
                                            </div>
                                            
                                        </div>
                                        <div class="col s12 m12 l6">
                                            <div class="col s6 m6 l4">
                                                <div class="input-field">
                                                    <label for="Facebook">Facebook</label>
                                                </div>
                                            </div>
                                            <div class="col s6 m6 l8">
                                                <input placeholder="Facebook" name="Facebook"
                                                    [(ngModel)]="membershipService.formData.Facebook" type="text">
                                            </div>
                                            <div class="col s6 m6 l4">
                                                <div class="input-field">
                                                    <label for="Twitter">Twitter</label>
                                                </div>
                                            </div>
                                            <div class="col s6 m6 l8">
                                                <input placeholder="Twitter" name="Twitter"
                                                    [(ngModel)]="membershipService.formData.Twitter" type="text">
                                            </div>
                                            <div class="col s6 m6 l4">
                                                <div class="input-field">
                                                    <label for="Instagram">Instagram</label>
                                                </div>
                                            </div>
                                            <div class="col s6 m6 l8">
                                                <input placeholder="Instagram" name="Instagram"
                                                    [(ngModel)]="membershipService.formData.Instagram" type="text">
                                            </div>
                                            <div class="col s12 m12 l12">
                                                <div class="input-field">
                                                    <input type="file" #Image accept="image/*"
                                                        (change)="changeImage($event.target.files)">
                                                    <br />
                                                    <br />
                                                    <img class="responsive-img" width="30%"
                                                        title={{membershipService.formData.FullName}}
                                                        alt={{membershipService.formData.FullName}}
                                                        [src]="membershipService.formData.URLImage">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col s12 m12 l12">
                                            <div class="col s12 m12 l12">
                                                <div class="col s6 m6 l10">
                                                    <input placeholder="Địa chỉ" name="MembershipAddress"
                                                        [(ngModel)]="membershipAddress" type="text">
                                                </div>
                                                <div class="col s6 m6 l2">
                                                    <a title="Lưu thay đổi" (click)="onMembershipAddressSave()"
                                                        class="mb-6 btn-floating waves-effect waves-light cyan mr-1 mb-1"><i
                                                            class="material-icons">save</i></a>
                                                </div>
                                                <div class="KhungOverflow">
                                                    <mat-table [dataSource]="dataSource" matSort>
                                                        <ng-container matColumnDef="Address">
                                                            <mat-header-cell *matHeaderCellDef mat-sort-header>Địa chỉ
                                                            </mat-header-cell>
                                                            <mat-cell *matCellDef="let element">
                                                                <div>
                                                                    {{element.Address}}
                                                                </div>
                                                            </mat-cell>
                                                        </ng-container>
                                                        <ng-container matColumnDef="actions">
                                                            <mat-header-cell *matHeaderCellDef mat-sort-header>Xóa
                                                            </mat-header-cell>
                                                            <mat-cell *matCellDef="let element">
                                                                <div style="padding-top: 5px; width: 100%; text-align: center;">
                                                                    <a title="Xóa" target="_blank" (click)="onMembershipAddressDelete(element)"
                                                                        class="mb-6 btn-floating waves-effect waves-light red accent-2"><i
                                                                            class="material-icons">delete_outline</i></a>
                                                                </div>
                                                            </mat-cell>
                                                        </ng-container>
                                                        <ng-container matColumnDef="loading">
                                                            <mat-footer-cell *matFooterCellDef colspan="4">
                                                                Đang tải dữ liệu...
                                                            </mat-footer-cell>
                                                        </ng-container>
                                                        <ng-container matColumnDef="noData">
                                                            <mat-footer-cell *matFooterCellDef colspan="4">
                                                                Chưa có dữ liệu.
                                                            </mat-footer-cell>
                                                        </ng-container>
                                                        <mat-header-row *matHeaderRowDef="displayColumns"></mat-header-row>
                                                        <mat-row *matRowDef="let row; columns: displayColumns;"></mat-row>
                                                        <mat-footer-row *matFooterRowDef="['loading']"
                                                            [ngClass]="{'hide':dataSource!=null}"></mat-footer-row>
                                                        <mat-footer-row *matFooterRowDef="['noData']"
                                                            [ngClass]="{'hide':!(dataSource!=null && dataSource.data.length==0)}">
                                                        </mat-footer-row>
                                                    </mat-table>
                                                    <mat-paginator [pageSizeOptions]="[10,20,50,100]" [pageSize]="1000000"
                                                        [showFirstLastButtons]></mat-paginator>
                                                </div>
                                            </div>
                                            <div class="col s12 m12 l12">
                                                <div class="input-field">
                                                    <!-- <iframe
                                                        [src]="sanitizer.bypassSecurityTrustResourceUrl(membershipService.formData.GoogleMapDisplay)"
                                                        width="100%" height="400"></iframe> -->
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>