<header class="page-topbar" id="header">
    <div class="navbar navbar-fixed">
        <nav
            class="navbar-main navbar-color nav-collapsible sideNav-lock navbar-dark gradient-45deg-purple-deep-orange gradient-shadow">
            <div class="nav-wrapper">
                <ul class="navbar-list right">
                    <li class="hide-on-med-and-down"><a class="waves-effect waves-block waves-light toggle-fullscreen"
                            href="javascript:void(0);"><i class="material-icons">settings_overscan</i></a></li>
                    <li><a title="{{pageTitle}}" class="waves-effect waves-block waves-light profile-button"
                            href="javascript:void(0);" data-target="profile-dropdown"><span
                                class="avatar-status avatar-online"><img src="{{logoURL}}" alt="{{pageTitle}}"
                                    title="{{pageTitle}}"><i></i></span></a></li>
                </ul>
                <ul class="dropdown-content" id="translation-dropdown">
                </ul>
                <ul class="dropdown-content" id="notifications-dropdown">
                </ul>
                <ul class="dropdown-content" id="profile-dropdown">
                </ul>
            </div>
            <nav class="display-none search-sm">
                <div class="nav-wrapper">
                </div>
            </nav>
        </nav>
    </div>
</header>