<aside class="sidenav-main nav-expanded nav-lock nav-collapsible sidenav-light navbar-full sidenav-active-rounded">
    <div class="brand-sidebar">
        <h1 class="logo-wrapper"><a class="brand-logo darken-1" routerLink="index.html" title="{{pageTitle}}">
            <!-- <img src="{{logoURL}}" alt="{{pageTitle}}" title="{{pageTitle}}" /> -->
            <span class="logo-text hide-on-med-and-down">CMS</span></a><a class="navbar-toggler" href="#"><i
                    class="material-icons">radio_button_checked</i></a></h1>
    </div>
    <ul class="sidenav sidenav-collapsible leftside-navigation collapsible sidenav-fixed menu-shadow" id="slide-out"
        data-menu="menu-navigation" data-collapsible="menu-accordion">        
        <li class="bold"><a href="/#/Blog" class="waves-effect waves-cyan"><i class="material-icons">class</i><span class="menu-title" data-i18n="">Bài viết</span></a>       
        <li class="bold"><a href="/#/BlogCategory" class="waves-effect waves-cyan"><i class="material-icons">bookmark</i><span class="menu-title" data-i18n="">Chủ đề</span></a>                       
        <li class="bold"><a href="/#/Contact" class="waves-effect waves-cyan"><i class="material-icons">email</i><span class="menu-title" data-i18n="">Phản hồi</span></a>   
        <li class="bold"><a href="/#/ThanhVien" class="waves-effect waves-cyan"><i class="material-icons">person</i><span class="menu-title" data-i18n="">Thành viên</span></a>       
        <li class="bold"><a href="/#/VNPTInfo" class="waves-effect waves-cyan"><i class="material-icons">account_balance</i><span class="menu-title" data-i18n="">Doanh nghiệp</span></a>                    
    </ul>
    <div class="navigation-background"></div><a
        class="sidenav-trigger btn-sidenav-toggle btn-floating btn-medium waves-effect waves-light hide-on-large-only"
        href="#" data-target="slide-out"><i class="material-icons">menu</i></a>
</aside>