<style>
    .mat-column-ID {
        flex: none;
        width: 100px;
        font-size: 12px;
        color: #000000;
    }

    .mat-column-SortOrder {
        flex: none;
        width: 100px;
        font-size: 12px;
        color: #000000;
    }

    .mat-column-Title {
        flex: none;
        width: 300px;
        font-size: 12px;
        color: #000000;
    }
</style>

<div class="row">
    <div class="col s12">
        <div class="container">
            <div class="section section-data-tables">
                <div class="row">
                    <div class="col s12 m12 l12">

                        <div class="card card card-default scrollspy">
                            <form autocomplete="off" class="row" #form="ngForm" (submit)="onSubmit(form)">
                                <div class="card-content">
                                    <div class="col s12 m12 l10">
                                        <h3 class="card-title"><b>{{configService.formData.Title}} - Chi tiết</b></h3>
                                    </div>
                                    <div class="col s12 m12 l2">
                                        <a title="Danh sách" href="javascript:window.open('','_self').close();"
                                            class="mb-6 btn-floating waves-effect waves-light amber darken-4 mr-1 mb-1"><i
                                                class="material-icons">arrow_back</i></a>&nbsp;&nbsp;&nbsp;
                                        <button title="Lưu thay đổi"
                                            class="mb-6 btn-floating waves-effect waves-light cyan mr-1 mb-1"><i
                                                class="material-icons">save</i></button>
                                    </div>
                                    <div class="row">
                                        <input name="ID" [(ngModel)]="configService.formData.ID" type="hidden">
                                        <div class="col s12 m12 l6">
                                            <div class="input-field">
                                                <input autofocus cdkFocusInitial placeholder="Dịch vụ" name="Title"
                                                    [(ngModel)]="configService.formData.Title" type="text">
                                                <label for="Title">Dịch vụ</label>
                                            </div>
                                        </div>
                                        <div class="col s12 m12 l6">
                                            <div class="input-field">
                                                <p>
                                                    <label>
                                                        <input type="checkbox" class="filled-in" name="IsWebsite"
                                                            [(ngModel)]="configService.formData.IsWebsite" />
                                                        <span>Website</span>
                                                    </label>
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                        <div class="card card card-default scrollspy">
                            <div class="card-content">
                                <div class="row">
                                    <div class="col s10 m10 l10">
                                        <h3 class="card-title"><b>Gói cước</b></h3>
                                    </div>
                                    <div class="col s2 m2 l2">
                                        <a title="Thêm mới" (click)="onAdd(0)"
                                            class="mb-6 btn-floating waves-effect waves-light green darken-1"><i
                                                class="material-icons">add</i></a>&nbsp;&nbsp;&nbsp;
                                        <a title="Làm mới" (click)="onRefresh()"
                                                class="mb-6 btn-floating waves-effect waves-light green darken-1"><i
                                                    class="material-icons">autorenew</i></a>&nbsp;&nbsp;&nbsp;
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="KhungOverflow">
                                        <mat-table [dataSource]="dataSource" matSort>
                                            <ng-container matColumnDef="Title">
                                                <mat-header-cell *matHeaderCellDef mat-sort-header>Gói cước
                                                </mat-header-cell>
                                                <mat-cell *matCellDef="let element">
                                                    <b>{{element.Title}}</b>
                                                </mat-cell>
                                            </ng-container>
                                            <ng-container matColumnDef="GiaCuoc">
                                                <mat-header-cell *matHeaderCellDef mat-sort-header>Giá cước
                                                </mat-header-cell>
                                                <mat-cell *matCellDef="let element">
                                                    <div style="width: 100%; text-align: right;">
                                                        {{element.GiaCuoc | currency:'VND':''}}
                                                    </div>
                                                </mat-cell>
                                            </ng-container>
                                            <ng-container matColumnDef="Token">
                                                <mat-header-cell *matHeaderCellDef mat-sort-header>Token
                                                </mat-header-cell>
                                                <mat-cell *matCellDef="let element">
                                                    <div style="width: 100%; text-align: right;">
                                                        {{element.Token | currency:'VND':''}}
                                                    </div>
                                                </mat-cell>
                                            </ng-container>
                                            <ng-container matColumnDef="TongTien">
                                                <mat-header-cell *matHeaderCellDef mat-sort-header>Tổng tiền
                                                </mat-header-cell>
                                                <mat-cell *matCellDef="let element">
                                                    <div style="width: 100%; text-align: right;">
                                                        {{element.TongTien | currency:'VND':''}}
                                                    </div>
                                                </mat-cell>
                                            </ng-container>
                                            <ng-container matColumnDef="IsWebsite">
                                                <mat-header-cell *matHeaderCellDef mat-sort-header>Website
                                                </mat-header-cell>
                                                <mat-cell *matCellDef="let element">
                                                    <div style="width: 100%; text-align: center;">
                                                        {{element.IsWebsite}}
                                                    </div>
                                                </mat-cell>
                                            </ng-container>
                                            <ng-container matColumnDef="actions">
                                                <mat-header-cell *matHeaderCellDef mat-sort-header>Chi tiết
                                                </mat-header-cell>
                                                <mat-cell *matCellDef="let element">
                                                    <div style="padding-top: 5px; padding-right: 10px; width: 100%; text-align: center;">
                                                        <a title="Chi tiết" (click)="onAdd(element.ID)"
                                                            class="mb-6 btn-floating waves-effect waves-light green darken-1"><i
                                                                class="material-icons">launch</i></a>&nbsp;&nbsp;&nbsp;
                                                        <a title="Xóa" (click)="onDelete(element.ID)"
                                                            class="mb-6 btn-floating waves-effect waves-light red accent-2"><i
                                                                class="material-icons">delete_outline</i></a>
                                                    </div>
                                                </mat-cell>
                                            </ng-container>
                                            <ng-container matColumnDef="loading">
                                                <mat-footer-cell *matFooterCellDef colspan="4">
                                                    Đang tải dữ liệu...
                                                </mat-footer-cell>
                                            </ng-container>
                                            <ng-container matColumnDef="noData">
                                                <mat-footer-cell *matFooterCellDef colspan="4">
                                                    Chưa có dữ liệu.
                                                </mat-footer-cell>
                                            </ng-container>
                                            <mat-header-row *matHeaderRowDef="displayColumns"></mat-header-row>
                                            <mat-row *matRowDef="let row; columns: displayColumns;"></mat-row>
                                            <mat-footer-row *matFooterRowDef="['loading']"
                                                [ngClass]="{'hide':dataSource!=null}"></mat-footer-row>
                                            <mat-footer-row *matFooterRowDef="['noData']"
                                                [ngClass]="{'hide':!(dataSource!=null && dataSource.data.length==0)}">
                                            </mat-footer-row>
                                        </mat-table>
                                        <mat-paginator [pageSizeOptions]="[10,20,50,100]" [pageSize]="1000000"
                                            [showFirstLastButtons]></mat-paginator>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>